# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.cov

# Go workspace file
go.work

# OS-specific
.DS_Store

# Application-specific
csvs
releases
scratchpad

# Code editor
.vscode/
__debug*